<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
<title>Login</title>
</head>
<body>

<div class="page">
<div class="card">
    <div class="logo">🌱 ApnaKhet</div>
    <h3>Login</h3>

    <form method="POST">
        <input type="text" name="mobile" placeholder="Mobile Number" required>
        <input type="password" name="password" placeholder="Password" required>
        <button>Login</button>
    </form>

    <div class="link">
        Don’t have an account? <a href="/signup">Signup</a>
    </div>
</div>
</div>

</body>
</html>
